<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mo.com.sleeplessmind.music-volume</string>
	<key>connections</key>
	<dict>
		<key>53949C73-38EB-4AAA-8318-B271E01F6151</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68D72461-6AB9-440E-8046-FEB13EAC540A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68D72461-6AB9-440E-8046-FEB13EAC540A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE027D94-AF62-4D87-8351-5186EA80E9E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F677FB68-6549-41C3-BE30-F5BAD62889CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53949C73-38EB-4AAA-8318-B271E01F6151</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Guillaume Leclerc</string>
	<key>description</key>
	<string>Control the Music.app volume from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Music Volume</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Music Control</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AE027D94-AF62-4D87-8351-5186EA80E9E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>zsh src/music.zsh $command $arg</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68D72461-6AB9-440E-8046-FEB13EAC540A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>mv</string>
				<key>subtext</key>
				<string>up, down, 69, etc...</string>
				<key>text</key>
				<string>Change the Music.app volume</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F677FB68-6549-41C3-BE30-F5BAD62889CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>arg</key>
					<string>{query}</string>
					<key>command</key>
					<string>vol</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>53949C73-38EB-4AAA-8318-B271E01F6151</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>see https://github.com/godbout/alfred-music-volume</string>
	<key>uidata</key>
	<dict>
		<key>53949C73-38EB-4AAA-8318-B271E01F6151</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>68D72461-6AB9-440E-8046-FEB13EAC540A</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>AE027D94-AF62-4D87-8351-5186EA80E9E6</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>F677FB68-6549-41C3-BE30-F5BAD62889CA</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://sleeplessmind.com.mo</string>
</dict>
</plist>
